<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h2>{{ .Data.Term }}</h2>
		{{ else }}
		<h2 class="page-title">{{ .Name }} ({{ len (where .Site.RegularPages "Section" "==" "post") }})</h2>
		{{ end }}

		<ul class="posts flat">
			{{- range (.Data.Pages.ByDate.Reverse.ByParam "pinned") -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<div class="post-header">
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
						</div>
					</div>
					<div class="matter">
						<h4 class="title small">
							<a href="{{ .RelPermalink }}">{{.Title}}</a>
							{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
							{{ if .Param "pinned" }}<sup class="sticked">STICKED</sup>{{ end }}
						</h4>
						<span class="description">
							{{ if isset .Params "description" }}
								{{ .Description }}
							{{ else }}
								{{ .Summary }}
							{{ end }}
						</span>
						{{ if ne .Type "page" }}
							{{ if gt .Params.categories 0 }}
							<div class="tags">
								{{ range .Params.categories }}
								<a class="category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">Category: {{ . }}</a>
								{{ end }}
								{{ if gt .Params.tags 0 }}
									{{ range .Params.tags }}
									<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a class="category">
									{{ end }}
								{{ end }}
							</div>
							{{ end }}
						{{ end }}
					</div>
				</div>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
