<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">

			{{- partial "chapter_page_nav.html" . -}}

			<hr class="chpater-nav-delimiter">

			<div class="post-header">
				{{ if ne .Date.Year 1 }}
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
						</div>
					</div>
				{{ end }}
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
			</div>
			{{ if ne .Type "page" }}
				{{ if (gt .Params.tags 0) or (gt .Params.categories 0) }}
				<div class="tags">
					{{ if .Params.book }}
						<a class="book" href="{{ "/book/" | relLangURL }}{{ .Params.book | urlize }}">Book: {{ .Params.book }}</a>
					{{ end }}
					{{ if gt .Params.tags 0 }}
						{{ range .Params.tags }}
						<a class="tag" title="Tag: {{ . }}" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a class="category">
						{{ end }}
					{{ end }}
				</div>
				{{ end }}
			{{ end }}

			{{- if .Params.migrated -}}
				<div class="migration">
					该文章迁移自作者的旧博客站点。<br>
					源地址：<a href="{{ .Params.migrated }}" target="_blank">{{ .Params.migrated }}</a>。
				</div>
			{{- end -}}

			<div class="markdown">
				{{ partial "toc.html" . }}

				{{ .Content | replaceRE "<table>" "<table class=\"mark-el\">" | safeHTML }}
			</div>

			{{ partial "cc-license.html" . }}

			<hr class="chpater-nav-delimiter">

			{{- partial "chapter_page_nav.html" . -}}

			{{- if .Site.DisqusShortname -}}
				{{- $.Scratch.Set "isDisqus" true -}}

				{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
					{{- $.Scratch.Set "isDisqus" false -}}
				{{- end -}}

				{{- if and (isset .Params "comments") (eq .Params.comments false) -}}
					{{- $.Scratch.Set "isDisqus" false -}}
				{{- else if and (isset .Params "comments") (eq .Params.comments true) -}}
					{{- $.Scratch.Set "isDisqus" true -}}
				{{- end -}}

				{{- if eq ($.Scratch.Get "isDisqus") true -}}
					{{- partial "disqus.html" . -}}
				{{- else -}}
					<p class="comments disabled">
						作者已关闭该文章的评论。
					</p>
				{{- end -}}
			{{- end -}}
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
